.slider {
  &-container {
    position: absolute;
    top: 24vh;
    left: 4.5vw;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  .slick {
    &-list {
      width: 91vw;
      padding: 0 !important;
    }

    &-prev, &-next {
      position: absolute;
      top: 18.2vh;
      width: 5vw;
      height: 7vh;
      opacity: 0;
      z-index: 2;
    }

    &-prev {
      left: 1vw;
    }

    &-next {
      left: 85vw;
    }
  }
}