<section class="popup hide content-popup {{class}}" id="{{id}}">
   <div class="overlay"></div>
 	<div class="container">
 		<div class="inner-container">
         <div class="popup-header">
            <img class="popup-close" src="../shared/images/close-x.png" alt="">
         </div>
         <div class="popup-content">
            <img class="content-img" alt="Content" src="{{img}}">
            {{#if barGraph}}
               <img class="bar-graph-animation" src="{{imgBarGraph}}" alt="bar graph">
            {{/if}}
         </div>
   	</div>
  </div>
</section>
