<section class="popup hide content-popup {{class}}" id="{{id}}">
   <div class="overlay"></div>
 	<div class="container">
 		<div class="inner-container">
         <div class="popup-header">
            <img class="popup-close" src="../shared/images/close-x.png" alt="">
         </div>
         <div class="popup-content">
            <img class="content-img" alt="Content" src="{{img}}">

            <div class="scrubber">
               <div class="mask">
                  <div class="chart"></div>
               </div>
            </div>
            <input id="range" type="range" value="0" class="slider">
         </div>
   	</div>
  </div>
</section>