<div class="flip-card">
  <div class="flip-card__inner">
    <div class="flip-card__front">
      <img class="flip-card__image" src="./assets/images/{{imageFront}}" alt="Front"/>
    </div>
    <div class="flip-card__back">
      <img class="flip-card__image" src="./assets/images/{{imageBack}}" alt="Back"/>
    </div>
  </div>
</div>