<section class="global-footer">
    <img src="../shared/images/global-footer.png" alt="global-footer">
    <button class="popup-trigger isi-popup-cta" data-popup="isi-popup">Important safety information</button>
    <a class="goToSlide" data-slide="xcopri_home"></a>
</section>