<!-- Side Nav Bar -->
<section class="global-nav {{slide}}">
   <div class="hamburger-menu">
      <img src="../shared/images/global-nav/nav-btn{{menu-color}}.png" alt="nav btn">
   </div>
	<div class="mega-nav not-animated">
      <div class="close-btn">
         <img class="popup-close" src="../shared/images/close-x.png" alt="" title="">
      </div>
      <div class="links-mask">
         <ul class="epilepsy-today">
            <li class="epilepsy-1">
               <a class="goToSlide" data-slide="xcopri_10_00"></a>
            </li>
            <li class="epilepsy-2">
               <a class="goToSlide" data-slide="xcopri_10_10"></a>
            </li>
         </ul>
         <ul class="efficacy">
            <li class="efficacy-1">
               <a class="goToSlide" data-slide="xcopri_20_00"></a>
            </li>
            <li class="efficacy-2">
               <a class="goToSlide" data-slide="xcopri_20_10"></a>
            </li>
            <li class="efficacy-3">
               <a class="goToSlide" data-slide="xcopri_20_20"></a>
            </li>
            <li class="efficacy-4">
               <a class="goToSlide" data-slide="xcopri_20_40"></a>
            </li>
         </ul>
         <ul class="safety-moa">
            <li class="safety-moa-1">
               <a class="goToSlide" data-slide="xcopri_30_00"></a>
            </li>
            <li class="safety-moa-2">
               <a class="goToSlide" data-slide="xcopri_30_10"></a>
            </li>
            <li class="safety-moa-3">
               <a class="goToSlide" data-slide="xcopri_30_20"></a>
            </li>
         </ul>
         <ul class="getting-started">
            <li class="getting-started-1">
               <a class="goToSlide" data-slide="xcopri_40_00"></a>
            </li>
            <li class="getting-started-2">
               <a class="goToSlide" data-slide="xcopri_40_10"></a>
            </li>
         </ul>
         <div class="presentation-summary">
            <a class="goToSlide" data-slide="xcopri_50_00"></a>
         </div>
      </div>
      <ul class="legal-popups">
         <li class="pi">
            <button class="popup-trigger pi-cta" data-popup="pi-popup"></button>
         </li>
         <li class="med-guide">
            <button class="popup-trigger medg-cta" data-popup="med-guide-popup"></button>
         </li>
         <li class="privacy">
            {{!-- <button class="popup-trigger privacy-policy-cta" data-popup="privacy-policy-popup"></button> --}}
            <a href="https://www.sklifescienceinc.com/privacy-policy.html" class="privacy-policy-cta" target="_blank"></a>
         </li>
         <li class="legal">
            {{!-- <button class="popup-trigger legal-notices-cta" data-popup="legal-notices-popup"></button> --}}
            <a href="https://www.sklifescienceinc.com/terms-of-use.html" class="legal-notices-cta" target="_blank"></a>
         </li>
      </ul>
	</div>
</section>
