<div id="isiMain">
	<div id="isi_wrapper">
		<div class="isi">
         <div class="indication-ar">
            <h2>Indication</h2>
            <p>ZTLIDO is indicated for relief of pain associated with post-herpetic neuralgia in adults.</p>
            <p>If the indication appears in body copy, as in the emails, “lido” in the name is lowercased.</p>
         </div>
         <div class="isi-ar">
            <h2>Important Safety Information</h2>
            <h2 class="sub-head">CONTRAINDICATIONS</h2>
            <p><b>ZTLIDO is contraindicated in patients with a known history of sensitivity to local anesthetics of the amide type, or to any other component of the product.</b></p>
            <h2 class="sub-head">WARNINGS AND PRECAUTIONS</h2>
            <p><b>Accidental exposure can occur even after a ZTLIDO patch has been used.</b> Small children or pets could suffer serious adverse effects from chewing or ingesting a new or used ZTLIDO patch. Store and dispose of patches properly and keep out of reach of children and pets.</p>
            <p><b>Excessive dosing or overexposure to lidocaine can occur.</b> Longer duration of application, application of more than the recommended number of patches, smaller patients, or impaired elimination may all contribute to increased blood concentration levels of lidocaine. If lidocaine overdose is suspected, check drug blood concentration.  Management of overdose includes close monitoring, supportive care, and symptomatic treatment.</p>
            <p><b>Cases of methemoglobinemia have been reported with local anesthetic use,</b> although patients with glucose-6-phosphate dehydrogenase deficiency, congenital or idiopathic methemoglobinemia, cardiac or pulmonary compromise, or concurrent exposure to oxidizing agents or their metabolites are more susceptible to developing clinical manifestations of the condition. Signs and symptoms include cyanotic skin discoloration and/or abnormal coloration of the blood and may occur immediately or may be delayed after exposure. Methemoglobin levels may continue to rise leading to more serious central nervous system and cardiovascular adverse effects. Discontinue ZTLIDO and any other oxidizing agents. Depending on severity of the symptoms, patients may respond to supportive care or may require treatment with methylene blue, exchange transfusion, or hyperbaric oxygen.</p>
            <p><b>Application site reactions can occur during or immediately after treatment with ZTLIDO.</b> This may include development of blisters, bruising, burning sensation, depigmentation, dermatitis, discoloration, edema, erythema, exfoliation, irritation, papules, petechia, pruritus, vesicles, or may be the locus of abnormal sensation. These reactions are generally mild and transient, resolving spontaneously within a few minutes to hours. If application site reactions occur while the topical system is being worn, advise the patient to remove ZTLIDO and not to reapply until skin reactions subside.</p>
            <p><b>Hypersensitivity cross-reactions may be possible for patients allergic to PABA derivatives.</b> Manage hypersensitivity reactions by conventional means.</p>
            <p><b>Eye exposure with ZTLIDO should be avoided.</b> If eye contact occurs, immediately wash out the eye with water or saline and protect the eye (eg, eyeglasses/eyewear) until sensation returns.</p>
            <h2 class="sub-head">ADVERSE REACTIONS</h2>
            <p><b>Side effects of ZTLIDO</b> include application site reactions such as irritation, erythema, and pruritus. These are not all of the adverse reactions that may occur. Please see full Prescribing Information for more information.</p>
            <h2 class="sub-head">USE IN SPECIFIC POPULATIONS</h2>
            <p><b>Use of ZTLIDO during lactation</b> should be used with caution as lidocaine is excreted into breast milk. The limited human data with lidocaine in pregnant women are not sufficient to inform drug-associated risk for major birth defects and miscarriage.</p>
         </div>
	   </div>
	</div>
   <p class="fixed-title">Please see Important Safety Information and full Prescribing Information in tabs below.</p>
</div>
