<section class="legal-popup-btns">
    <ul>
        <li><button class="popup-trigger pi-cta" data-popup="pi-popup">Prescribing Information</button></li>
        <li><button class="popup-trigger medg-cta" data-popup="med-guide-popup">Medication Guide</button></li>
    </ul>
</section>