<section class="popup hide global-med-guide legal-popup" id="med-guide-popup">
   <img class="legal-popup-bg" src="../shared/images/med-guide/med-guide-bg.jpg" alt="isi bg">
   <img class="popup-close legal-popup-close" src="../shared/images/close-x.png" alt="close btn">
   <div class="document-scroll">
      <img class="document-scroller-content" src="../shared/images/med-guide/med-guide.jpg" alt="med guide">
   </div>
</section>