<section class="popup hide global-pi legal-popup" id="pi-popup">
   <div class="overlay"></div>
   <img class="popup-close legal-popup-close" src="../shared/images/close-x.png" alt="close btn">
   <div class="document-scroll">
      <img class="document-scroller-content" src="../shared/images/pi.jpg" alt="pi">
   </div>
</section>