<section class="popup hide global-privacy-policy legal-popup" id="privacy-policy-popup">
   <img class="legal-popup-bg" src="../shared/images/privacy/privacy-bg.jpg" alt="isi bg">
   <img class="popup-close legal-popup-close" src="../shared/images/close-x.png" alt="close btn">
   <div class="document-scroll">
      <img class="document-scroller-content" src="../shared/images/isi/isi.jpg" alt="pi">
   </div>
</section>