<section class="popup hide" id="ref-popup">
   <div class="overlay"></div>
 	<div class="container">
 		<div class="inner-container">
         <div class="popup-header">
            <img class="popup-close" src="../shared/images/close-x.png" alt="">
         </div>
         <div class="ref-content">
            <img class="content-img" src="assets/images/references.png" alt="References">
         </div>
   	</div>
  </div>
</section>
