<section class="slider {{type}}" id="{{id}}">
  {{#times items}}
    <div class="slider__item">
      <img class="slider__image" src="./assets/images/{{../prefix}}-{{this}}.png"/>
    </div>
  {{/times}}
</section>