<section class="popup study-popup hide" id="sd-popup">
   <div class="overlay"></div>
 	<div class="container">
 		<div class="inner-container">
         <div class="popup-header">
            <img class="popup-close isi-close" src="../shared/images/close-x.png" alt="">
         </div>
         <div class="ref-content">
            <img class="content-img" src="assets/images/study.png" alt="Study Design">
         </div>
   	</div>
  </div>
</section>