// Typo
// -------------------------

h1,
h2,
h3,
h4 {
   margin: 0;
   font-weight: normal;
}

h1,
.h1 {
   font-size: 28px;
   line-height: 1;
}

h2,
.h2 {
   font-size: 20px;
   line-height: 1.2;
}

h3,
.h3 {
   font-size: $font-body;
   line-height: 1.2;
}

p,
.p,
li {
   font-size: $font-body;
   line-height: 1.4;
}

a,
.a {
   font-size: $font-body;
}

button {
   background: transparent;
   border: 0;
}

