/********** GLOBAL VARS *********/

// Global Size

$sw: 1024px; 		//screen width
$sh: 768px; 			//screen height
$font-body: 14px;

// Fonts


// Colors
$white: #FFFFFF;
$black: #000000;
$bostonBlue: #4298B5;
$riptide: #87D3E1;
$grayChateau: #A7A9AA;
$astronautBlue: #004063;
$blackberry: #430039;
$downy: #7AC8D6;
$main-gray: #f3f3f4;
$gray: #808080;
$dark-gray: #3E3E3E;
$red: #F04A3F;
$silverChalice: #979797;
$purple: #473192;