@charset "UTF-8";
/* SCSS Document */

@import "../../shared/styles/core/index";


/********** Slide Specific Styles *********/

#ZTlido-Full-EVA_14_00 {
    background: url('../images/background.jpg') right 0 no-repeat;
    background-size: contain;
}

.slide__cta {
   position: absolute;

   a {
      display: block;
      width: 100%;
      height: 100%;
   }
}

#cta-0 {
   top: 0%;
   left: 9.57%;
   width: 9.863%;
   height: 6.51%;
}

#cta-1 {
   top: 0%;
   left: 20.313%;
   width: 13.281%;
   height: 6.51%;
}

#cta-2 {
   top: 0%;
   left: 34.57%;
   width: 11.133%;
   height: 6.641%;
}

#cta-3 {
   top: 0.13%;
   left: 46.387%;
   width: 11.133%;
   height: 6.51%;
}

#cta-4 {
   top: 0%;
   left: 66.113%;
   width: 9.766%;
   height: 6.51%;
}

#cta-5 {
   top: 1.172%;
   left: 80.664%;
   width: 17.871%;
   height: 9.896%;
}

#cta-6 {
   top: 95.182%;
   left: 43.75%;
   width: 11.328%;
   height: 4.818%;
}

#cta-7 {
   top: 95.313%;
   left: 55.469%;
   width: 10.938%;
   height: 4.688%;
}

#cta-8 {
   top: 95.313%;
   left: 66.895%;
   width: 11.035%;
   height: 4.688%;
}

#cta-9 {
   top: 95.573%;
   left: 78.223%;
   width: 11.328%;
   height: 4.427%;
}

#isiMain {
   font-family: "Barlow-Bold";
   position: absolute;
   bottom: 9%;
   height: 9.1%;
   left: 5.5%;
   width: 88.5%;

   p {
      color: #fff;
   }

   #isi_wrapper {

      .isi {
         color: #fff; 
      }
   }
}

@media screen and (min-width: 1024px) {
   #ZTlido-Full-EVA_14_00 {
      background-size: 100% 100%;
   }
}