<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>veeva-slide</title>

	<!-- build:css ../shared/styles/main.css -->
	<!-- inject:css -->
	<!-- endinject -->
   <link rel="stylesheet" href="../shared/styles/main.css">
   <!-- endbuild -->
   <!-- build:css assets/styles/slide.css -->
   <link rel="stylesheet" href="./assets/styles/slide.css" />
   <!-- endbuild -->
   <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
<main id="ZTlido-Full-EVA_15_00" class="slide">

   <!-- Page Body -->

   <section class="global-content">
      <div class="wrapper">
         <!-- Components here -->
         <div class="content">
            <!-- Slide Content -->
            <ul class="slide__ctas">
               <li id="cta-0" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_10_00"></a></li>
               <li id="cta-1" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_11_00"></a></li>
               <li id="cta-2" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_12_00"></a></li>
               <li id="cta-3" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_13_00"></a></li>
               <li id="cta-4" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_14_00"></a></li>
               <li id="cta-5" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_00_00"></a></li>
               <li id="cta-6" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_10"></a></li>
               <li id="cta-7" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_20"></a></li>
               <li id="cta-8" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_30"></a></li>
               <li id="cta-9" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_40"></a></li>
               <li id="cta-10" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_50"></a></li>
               <li id="cta-11" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_00"></a></li>
               <li id="cta-12" class="slide__cta"><a class="popup-trigger" data-popup="pi-popup"></a></li>
               <li id="cta-13" class="ref-btn slide__cta"><a class="popup-trigger" data-popup="ref-popup"></a></li>
            </ul>
               <div id="slider-title"></div>
               <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="assets/images/slide-0.png" alt="slide1"></div>
                  <div class="swiper-slide"><img src="assets/images/slide-1.png" alt="slide2"></div>
                  <div class="swiper-slide"><img src="assets/images/slide-2.png" alt="slide3"></div>
                  <div class="swiper-slide"><img src="assets/images/slide-3.png" alt="slide4"></div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
               </div>
            {{!-- </div> --}}
         </div>
      </div>
      <!-- Pop Ups here-->
      {{> isi}}
      {{> pi}}
      {{> ref}}
   </section>

</main>
</body>

<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/fastclick.js"></script>
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/slick.min.js"></script>
<script src="../shared/scripts/iscroll.js"></script>
<script src="../shared/scripts/hammer.min.js"></script>
<script src="../shared/scripts/main.js"></script>
<script src="../shared/scripts/footerISI.js"></script>
<!-- endbuild -->
<!-- Swiper JS -->
<script src="./assets/scripts/swiper.js"></script>

<!-- build:js assets/scripts/slide.js -->
<script src="./assets/scripts/slide.js"></script>
<!-- endbuild -->

</html>
