<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>veeva-slide</title>

	<!-- build:css ../shared/styles/main.css -->
	<!-- inject:css -->
	<!-- endinject -->
   <link rel="stylesheet" href="../shared/styles/main.css">
   <!-- endbuild -->
   <!-- build:css assets/styles/slide.css -->
   <link rel="stylesheet" href="./assets/styles/slide.css" />
   <!-- endbuild -->
</head>

<body>
<main id="ZTlido-Full-EVA_15_30" class="slide">

   <!-- Page Body -->

   <section class="global-content">
      <div class="wrapper">
         <!-- Components here -->
         <div class="content">
            <!-- Slide Content -->
            <ul class="slide__ctas">
               <li id="cta-0" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_10_00"></a></li>
               <li id="cta-1" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_11_00"></a></li>
               <li id="cta-2" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_12_00"></a></li>
               <li id="cta-3" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_13_00"></a></li>
               <li id="cta-4" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_14_00"></a></li>
               <li id="cta-5" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_00_00"></a></li>
               <li id="cta-6" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_00"></a></li>
               <li id="cta-7" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_10"></a></li>
               <li id="cta-8" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_20"></a></li>
               <li id="cta-9" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_40"></a></li>
               <li id="cta-10" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_50"></a></li>
               <li id="cta-11" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_00"></a></li>
               <li id="cta-12" class="slide__cta"><a class="popup-trigger" data-popup="pi-popup"></a></li>
               <li id="cta-13" class="ref-btn slide__cta"><a class="popup-trigger" data-popup="ref-popup"></a></li>
            </ul>

            
            <div id="flipCards-ar">
               <div class="scene scene--card">
                  <div class="card">
                     <img src="assets/images/unflip-1.png" alt="Unflip1" class="card__face card__face--front">
                     <img src="assets/images/flip-1.png" alt="Flipped1" class="card__face card__face--back">
                  </div>
               </div>

                <div class="scene scene--card">
                  <div class="card">
                     <img src="assets/images/unflip-2.png" alt="Unflip2" class="card__face card__face--front">
                     <img src="assets/images/flip-2.png" alt="Flipped2" class="card__face card__face--back">
                  </div>
               </div>

               <div class="scene scene--card">
                  <div class="card">
                     <img src="assets/images/unflip-3.png" alt="Unflip3" class="card__face card__face--front">
                     <img src="assets/images/flip-3.png" alt="Flipped3" class="card__face card__face--back">
                  </div>
               </div>

               <div class="scene scene--card">
                  <div class="card">
                     <img src="assets/images/unflip-4.png" alt="Unflip4" class="card__face card__face--front">
                     <img src="assets/images/flip-4.png" alt="Flipped4" class="card__face card__face--back">
                  </div>
               </div>

               <div class="scene scene--card">
                  <div class="card">
                     <img src="assets/images/unflip-5.png" alt="Unflip5" class="card__face card__face--front">
                     <img src="assets/images/flip-5.png" alt="Flipped5" class="card__face card__face--back">
                  </div>
               </div>

               <div class="scene scene--card">
                  <div class="card">
                     <img src="assets/images/unflip-6.png" alt="Unflip6" class="card__face card__face--front">
                     <img src="assets/images/flip-6.png" alt="Flipped6" class="card__face card__face--back">
                  </div>
               </div>
            </div>
            
         </div>
      </div>
      <!-- Pop Ups here-->
      {{> isi}}
      {{> pi}}
      {{> ref}}
   </section>

</main>
</body>

<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/fastclick.js"></script>
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/iscroll.js"></script>
<script src="../shared/scripts/hammer.min.js"></script>
<script src="../shared/scripts/main.js"></script>
<script src="../shared/scripts/footerISI.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/slide.js -->
<script src="./assets/scripts/slide.js"></script>
<!-- endbuild -->

</html>
