<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>veeva-slide</title>

	<!-- build:css ../shared/styles/main.css -->
	<!-- inject:css -->
	<!-- endinject -->
   <link rel="stylesheet" href="../shared/styles/main.css">
   <!-- endbuild -->
   <!-- build:css assets/styles/slide.css -->
   <link rel="stylesheet" href="./assets/styles/slide.css" />
   <!-- endbuild -->
</head>

<body>
<main id="ZTlido-Full-EVA_11_50" class="slide">

   <!-- Page Body -->

   <section class="global-content">
      <div class="wrapper">
         <!-- Components here -->
         <div class="content">
            <!-- Slide Content -->
            <ul class="slide__ctas">
               <li id="cta-0" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_10_00"></a></li>
               <li id="cta-1" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_11_00"></a></li>
               <li id="cta-2" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_12_00"></a></li>
               <li id="cta-3" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_13_00"></a></li>
               <li id="cta-4" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_14_00"></a></li>
               <li id="cta-5" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_00"></a></li>
               <li id="cta-6" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_00_00"></a></li>
               <li id="cta-7" class="sd-btn slide__cta"><a class="popup-trigger" data-popup="sd-popup"></a></li>
               <li id="cta-8" class="slide__cta"><a class="goToSlide" data-slide="ZTlido-Full-EVA_15_00"></a></li>
               <li id="cta-9" class="slide__cta"><a class="popup-trigger" data-popup="pi-popup"></a></li>
               <li id="cta-10" class="ref-btn slide__cta"><a class="popup-trigger" data-popup="ref-popup"></a></li>
            </ul>
            <div class="content-tabs">
               <a class="item tab-1" id="tab-item-0"></a>
               <a class="item tab-2" id="tab-item-1"></a>
               <a class="item tab-3" id="tab-item-2"></a>
               <a class="item tab-4" id="tab-item-3"></a>
               <section class="tab-section" id="tab-item-0-section">
                  <img class="tab-section__image" src="./assets/images/tab-1.png"/>
                  <div id="cta-11" class="tab__cta"><a class="popup-trigger" data-popup="popup_1"></a></div>
               </section>
               <section class="tab-section" id="tab-item-1-section">
                  <img class="tab-section__image" src="./assets/images/tab-2.png"/>
                  <div id="cta-12" class="tab__cta"><a class="popup-trigger" data-popup="popup_2"></a></div>
               </section>
               <section class="tab-section" id="tab-item-2-section">
                  <img class="tab-section__image" src="./assets/images/tab-3.png"/>
                  <div id="cta-13" class="tab__cta"><a class="popup-trigger" data-popup="popup_3"></a></div>
               </section>
               <section class="tab-section" id="tab-item-3-section">
                  <img class="tab-section__image" src="./assets/images/tab-4.png"/>
                  <div id="cta-14" class="tab__cta"><a class="popup-trigger" data-popup="popup_4"></a></div>
               </section>
            </div>
         </div>
      </div>
      <!-- Pop Ups here-->
      {{> content-popup id="popup_1" img="assets/images/popup-1.png"}}
      {{> content-popup id="popup_2" img="assets/images/popup-2.png"}}
      {{> content-popup id="popup_3" img="assets/images/popup-3.png"}}
      {{> content-popup id="popup_4" img="assets/images/popup-4.png"}}
      {{> isi}}
      {{> pi}}
      {{> ref}}
      {{> popup-tabs id="sd-popup" type="study-popup" prefix="study" tabs=3 }}
   </section>

</main>
</body>

<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/fastclick.js"></script>
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/iscroll.js"></script>
<script src="../shared/scripts/hammer.min.js"></script>
<script src="../shared/scripts/main.js"></script>
<script src="../shared/scripts/footerISI.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/slide.js -->
<script src="./assets/scripts/slide.js"></script>
<!-- endbuild -->

</html>
