@charset "UTF-8";
/* SCSS Document */

@import "../../shared/styles/core/index";


/********** Slide Specific Styles *********/

#ZTlido-Full-EVA_12_50 {
    background: url('../images/background.jpg') right 0 no-repeat;
    background-size: contain;
}

.slide__cta {
   position: absolute;

   a {
      display: block;
      width: 100%;
      height: 100%;
   }
}

#cta-0 {
   top: 0%;
   left: 9.57%;
   width: 9.863%;
   height: 6.51%;
}

#cta-1 {
   top: 0%;
   left: 20.313%;
   width: 13.281%;
   height: 6.51%;
}

#cta-2 {
   top: 6.641%;
   left: 7.422%;
   width: 20.996%;
   height: 3.776%;
}

#cta-3 {
   top: 0%;
   left: 46.387%;
   width: 10.938%;
   height: 6.51%;
}

#cta-4 {
   top: 0%;
   left: 58.203%;
   width: 7.227%;
   height: 6.51%;
}

#cta-5 {
   top: 0%;
   left: 66.113%;
   width: 9.766%;
   height: 6.51%;
}

#cta-6 {
   top: 1.172%;
   left: 80.664%;
   width: 17.871%;
   height: 9.896%;
}

#cta-7 {
   top: 55.729%;
   left: 56.543%;
   width: 4.004%;
   height: 5.208%;
}

#cta-8 {
   top: 55.859%;
   left: 94.043%;
   width: 4.004%;
   height: 5.599%;
}

#cta-9 {
   top: 95.313%;
   left: 44.043%;
   width: 11.133%;
   height: 4.688%;
}

#cta-10 {
   top: 95.443%;
   left: 55.469%;
   width: 11.035%;
   height: 4.557%;
}

#cta-11 {
   top: 95.313%;
   left: 66.895%;
   width: 11.035%;
   height: 4.688%;
}

#cta-12 {
   top: 95.313%;
   left: 78.223%;
   width: 11.133%;
   height: 4.688%;
}


@media screen and (min-width: 1024px) {
   #ZTlido-Full-EVA_12_50 {
      background-size: 100% 100%;
   }
}