@charset "UTF-8";
/* SCSS Document */

@import "../../shared/styles/core/index";


/********** Slide Specific Styles *********/

#ZTlido-Full-EVA_15_50 {
    background: url('../images/background.jpg') right 0 no-repeat;
    background-size: contain;
}

.slide__cta {
   position: absolute;

   a {
      display: block;
      width: 100%;
      height: 100%;
   }
}

#cta-0 {
   top: 0%;
   left: 9.57%;
   width: 9.863%;
   height: 6.51%;
}

#cta-1 {
   top: 0%;
   left: 20.313%;
   width: 13.281%;
   height: 6.51%;
}

#cta-2 {
   top: 0%;
   left: 34.57%;
   width: 11.133%;
   height: 6.641%;
}

#cta-3 {
   top: 0.13%;
   left: 46.387%;
   width: 11.133%;
   height: 6.51%;
}

#cta-4 {
   top: 0%;
   left: 58.008%;
   width: 9.082%;
   height: 6.51%;
}

#cta-5 {
   top: 1.172%;
   left: 80.664%;
   width: 17.871%;
   height: 9.896%;
}

#cta-6 {
   top: 6.38%;
   left: 7.422%;
   width: 7.324%;
   height: 3.906%;
}

#cta-7 {
   top: 6.641%;
   left: 15.039%;
   width: 6.348%;
   height: 3.646%;
}

#cta-8 {
   top: 6.51%;
   left: 22.266%;
   width: 11.914%;
   height: 3.776%;
}

#cta-9 {
   top: 6.641%;
   left: 34.668%;
   width: 6.641%;
   height: 3.646%;
}

#cta-10 {
   top: 6.51%;
   left: 41.797%;
   width: 5.859%;
   height: 3.776%;
}

#cta-11 {
   top: 95.382%;
   left: 43.95%;
   width: 11.128%;
   height: 4.818%;
}

#cta-12 {
   top: 95.313%;
   left: 55.469%;
   width: 11.035%;
   height: 4.688%;
}

#cta-13 {
   top: 95.182%;
   left: 66.797%;
   width: 11.23%;
   height: 4.818%;
}

#cta-14 {
   top: 95.313%;
   left: 78.32%;
   width: 11.035%;
   height: 4.688%;
}


@media screen and (min-width: 1024px) {
   #ZTlido-Full-EVA_15_50 {
      background-size: 100% 100%;
   }
}